    h1 {
    font-size: 13px;
    line-height: 30px;
    }
    h2 {
      font-size: 9px;
      line-height: 20px;
      margin-left: 5px;
      margin-bottom: 4px;
      margin-top: 0px;
      text-align: left;
      }
    h3 {
      font-size: 7px;
      line-height: 10px;
      margin-bottom: 8px;
      margin-top: 0px;
      text-align: center;
    }
    h4 {
      font-size: 5px;
      line-height: 10px;
      margin-bottom: 8px;
      margin-top: 20px;
      text-align: center;
    }
	
	body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

	body, html {
	  height: 100%;
	  line-height: 1.8;
	}
  
      #map {
      position: relative;
      width: 900px;
      height: 420px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-radius: 30px; 
    }
	
	#Iframe-Map {
	  display: none;
	  max-width: 600px;
	  max-height: 480px; 
	  overflow: hidden;
	}

	/* inner wrapper: make responsive */
	.responsive-wrapper {
	  position: relative;
	  height: 0;    /* gets height from padding-bottom */
	  
	  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
		-webkit-overflow-scrolling: touch; overflow: auto; */
	  
	}
	 
	.responsive-wrapper iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  
	  margin: 0;
	  padding: 0;
	  border: none;
	}

	/* padding-bottom = h/w as % -- sets aspect ratio */
	/* YouTube video aspect ratio */
	.responsive-wrapper-wxh-650x315 {
	  padding-bottom: 56.25%;
	}
	.responsive-wrapper-wxh-600x480 {
	  padding-bottom: 80%;
	}

	/* at mobile device sizes suppress Mapbox map which is not mobile friendly and display responsive iframe map instead. */
	@media only screen and (max-width: 736px) {
	  #map {
		display: none;
	  }
	  #Iframe-Map {
		display: block;
	  }
	  .backto {display:none;}
	  .keterangan {display:block;}
	}

	/* general styles */
	/* ============== */
	.set-border {
	  border: 5px inset #4f4f4f;
	}
	.set-box-shadow { 
	  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
	  -moz-box-shadow: 4px 4px 14px #4f4f4f;
	  box-shadow: 4px 4px 14px #4f4f4f;
	}
	.set-padding {
	  padding: 40px;
	}
	.set-margin {
	  margin: 30px;
	}
	.center-block-horiz {
	  margin-left: auto !important;
	  margin-right: auto !important;
	}

    #container {
      position: absolute;
      background-color: white;
    }
    #tableauViz {
        background-color: white;
        width: 1366px;
        height: 750px;
    }
		
.backto button{
  background: #f1f1f1;
  color: brown;
  cursor: pointer; /* Pointer/hand icon */
  position: relative;
  border-color: grey;
  font-size: 10px;
  top:-25px;
}

.backto button:hover {
  background-color: #ddd;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: brown;
}

/* The actual time (the vertical ruler) */
.time {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  top: 10px;
}

/* The actual time (the vertical ruler) */
.time::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #d4d9c6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.line {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the time */
.line::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #d4d9c6;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the line to the right */
.right {
  left: 50%;
}

/* Add arrows to the left line (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d4d9c6;
}

/* Add arrows to the right line (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #d4d9c6 transparent transparent;
}

/* Fix the circle for lines on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #d4d9c6;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive time on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .time::after {
    left: 31px;
  }

/* Full-width lines */
  .line {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .line::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #d4d9c6 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right lines behave like the left ones */
  .right {
    left: 0%;
  }
}

.ordinal {vertical-align:super; font-size:12px;}

    /* popup */
    .mapboxgl-popup {
      max-width: 100%;
      max-height: 100%;
      opacity: 1;
      }
    .mapboxgl-popup-content {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
	  font-size: 10px;
      background-color: #202020;
      color: grey;
    }
    .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
        border-top-color: #202020;
    }
    .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
        border-bottom-color: #202020;
    }
    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-left-color: #202020;
    }
    .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
        border-right-color: #202020;
    }
	
/*POPUP IMPACT*/
/* Create two equal columns that floats next to each other */
.kolom {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.baris:after {
  content: "";
  display: table;
  clear: both;
}

.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup:hover,
.popup:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  color:#c79c60;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f6fafd;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size:20px;
}

/* Create two equal columns that floats next to each other */

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.custom1 {
   margin-left: auto !important;
   margin-right: auto !important;
   margin: 20px;
   padding : 20px;
}
.custom2 {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 90%;
  align-items:center;
}
.custom2 iframe {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#tutorial-pdf-responsive {
  max-width: 900px;
  max-height: 900px;
  overflow: hidden;
}

/* Popup container */
.pop {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.pop .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Popup arrow */
.pop .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}